---
title: nonogram
---


<h1>
  Nonogram
</h1>
<image src="/images/nonogram-solution.png">
<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
